
@{
    ViewBag.Title = "Index";
}

<div>
    <a href="~/admin/cliente/crud" class="btn btn-app btn-info btn-xs">
        <i class="ace-icon fa fa-folder-open-o bigger-110"></i>
    </a>

    <a href="~/admin/cliente/index" class="btn btn-app btn-success btn-xs">
        <i class="ace-icon fa fa-exchange bigger-110"></i>
    </a>
</div>



<div id="empresalist" class="well"></div>


<script>
    $(document).ready(function () {

        $("#empresalist").anexGrid({
            columnas: [
                { leyenda: 'CLIENTE', columna: 'nmcliente', ordenable: true },
                { leyenda: 'RUC', columna: 'ruccliente', style: 'width:10px;', ordenable: true },
                { leyenda: 'EMPRESA', columna: 'empresa_id', style: 'width:140px;', ordenable: true },
                  { leyenda: 'ESTADO', columna: 'estadocliente', style: 'width:140px;', ordenable: true },
                { style: 'width:10px;' },
                { style: 'width:10px;' }
            ],

            modelo: [
                {
                    propiedad: 'nmcliente', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/cliente/crud/")' + obj.idcliente,
                            contenido: valor
                        });
                    }
                },

                { propiedad: 'ruccliente' },
                  { propiedad: 'empresa_id' },

                   @*a.idcliente,
                            a.nmcliente,
                            a.ruccliente,
                            a.empresa_id,
                            a.estadocliente*@

                 {

                     propiedad: 'estadocliente', formato: function (tr, obj, valor) {
                         return valor == 1 ? "Activo"  : "No Activo";
                         //return anexGrid_link({ href:  })
                     }

                 },




                // BOTONES
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/cliente/crud/")' + obj.idcliente,
                            contenido: 'Visualizar',
                            class: 'btn btn-default btn-xs'
                        });
                    },
                },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/cliente/eliminar/")' + obj.idcliente,
                            contenido: 'Eliminar',
                            class: 'btn btn-danger btn-xs',
                            attr: [
                                'onclick="return confirm(\'¿Esta seguro de eliminar este registro?\')"'
                            ]
                        });
                    },
                }
            ],

            url: '@Url.Content("~/admin/cliente/CargarCliente")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'id',
            columna_orden: 'DESC'
        });
    })
</script>


