@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();

    Model.Usuario usuario = new Model.Usuario().ObtenerPerfil(Helper.SessionHelper.GetUser());
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Nsuite</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Areas/Admin/assetsAce/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]><![endif]-->
    <script src="~/Areas/Admin/assetsAce/js/html5shiv.min.js"></script>
    <script src="~/Areas/Admin/assetsAce/js/respond.min.js"></script>
    


    <!--INICIO ESTILO DE LAYOUT -->

    @*<link href="~/Areas/Admin/Assets/css/admin-style.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/bootstrap.theme.min.css" rel="stylesheet" />*@

    @*<link href="~/Areas/Admin/Assets/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />*@
    @*<link href="~/Areas/Admin/Assets/css/AdminLTE.css" rel="stylesheet" />*@

    @*<link href="~/Areas/Admin/Assets/css/uikit.css" rel="stylesheet" />*@

    @*<link href="~/Areas/Admin/Assets/css/site.css" rel="stylesheet" />*@
    <link href="~/Areas/Admin/Assets/css/Mgrid.css" rel="stylesheet" />



    <link href="~/Areas/Admin/Assets/css/formulario.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Assets/js/jquery.js"></script>


    <!--FIN ESTILO DE LAYOUT -->
</head>

<body class="no-skin">

    @if (controlador != "login")
    {
        <div id="navbar" class="navbar navbar-default          ace-save-state">
            <div class="navbar-container ace-save-state" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                    <span class="sr-only">Toggle sidebar</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>
              
                <div class="navbar-header pull-left">
                    <a href="~/admin/default/" class="navbar-brand">
                        <small>
                            <i class="fa fa-file-o"></i>
                            Netcorporate
                        </small>
                    </a>
                </div>

               


                <div class="navbar-buttons navbar-header pull-right">
                    <a href="~/admin/login/logout" class="btn btn-app btn- btn-xs">
                        <i class="ace-icon fa fa-lock bigger-110"></i>
                    </a>
                </div>



            </div>
        </div>


    }
 



    <div class="main-container ace-save-state" id="main-container">

        @if (controlador != "login") {

        <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="~/admin/default/">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>

            <!--MENUS--->

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-list"></i>
                        <span class="menu-text"> Mantenimiento </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/empresa/">
                             <i class="menu-icon fa fa-caret-right"></i>
                                Empresa
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/admin/cliente/">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Cliente
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/admin/sucursal/">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Sucursal
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-laptop"></i>
                        <span class="menu-text"> Renting </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/orden/">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Orden
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/admin/detalleordens/">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Detalle
                            </a>

                            <b class="arrow"></b>
                        </li>

                
                    </ul>
                </li>


                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-unlock"></i>
                        <span class="menu-text"> Seguridad </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/admin/usuario/">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Usuario
                            </a>

                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

               

            </ul><!-- /.nav-list -->


         



            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>


        }
        <div class="main-content">
            <div class="main-content-inner">

            @if( controlador!="login"){

                <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                           Inicio
                        </li>

                        <li class="active">
                            
                            @controlador
                         
                        </li>
                       
                    </ul><!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- /.nav-search -->
                </div>


            }


                <div class="page-content">
     
                <!-- /.ace-settings-container -->

                    <div class="row">
                        <div class="col-xs-12">
                            @RenderBody()
                            <!-- PAGE CONTENT BEGINS -->
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->


                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
     
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Nsuite</span>
                        Plataforma de Renting &copy; 2020
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->

    <!-- ANEXGRID -->
    <!--<script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>-->
    <script src="~/Areas/Admin/Assets/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.form.js"></script>

    <script src="~/Areas/Admin/Assets/js/ini.js"></script>

    <script src="~/Areas/Admin/Assets/js/jquery.anexgrid.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/assetsAce/js/bootstrap.min.js"></script>
    <!-- basic scripts -->
    <!--[if !IE]> -->

    <!--SCRIP ANTERIROR-->
    @*@<script src="~/Areas/Admin/assetsAce/js/jquery-2.1.4.min.js"></script>*@

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Areas/Admin/assetsAce/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assetsAce/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
   

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="~/Areas/Admin/assetsAce/js/ace-elements.min.js"></script>
    <script src="~/Areas/Admin/assetsAce/js/ace.min.js"></script>
   

    <!-- inline scripts related to this page -->
</body>
</html>
