
@{
    ViewBag.Title = "Index";
}


<div>
    <a href="~/admin/empresa/crud" class="btn btn-app btn-info btn-xs">
        <i class="ace-icon fa fa-folder-open-o bigger-110"></i>
    </a>

    <a href="~/admin/empresa/index" class="btn btn-app btn-success btn-xs">
        <i class="ace-icon fa fa-exchange bigger-110"></i>
    </a>
</div>



<div id="list" class="well"></div>


<script>
    $(document).ready(function () {

        $("#list").anexGrid({
            columnas: [
                { leyenda: 'EMPRESA', columna: 'nmempresa', ordenable: true },
                { leyenda: 'RUC', columna: 'rucempresa', style: 'width:10px;', ordenable: true },
                { leyenda: 'ESTADO', columna: 'estadoempresa', style: 'width:140px;', ordenable: true },
                { style: 'width:10px;' },
                { style: 'width:10px;' }
            ],

            modelo: [
                {
                    propiedad: 'nmempresa', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/empresa/crud/")' + obj.idempresa,
                            contenido: valor
                        });
                    }
                },

                { propiedad: 'rucempresa'},



                 {

                     propiedad: 'estadoempresa', formato: function (tr, obj, valor) {
                         return valor == 1 ? "Activo"  : "No Activo";
                         //return anexGrid_link({ href:  })
                     }

                 },




                // BOTONES
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/empresa/crud/")' + obj.idempresa,
                            contenido: 'Visualizar',
                            class: 'btn btn-default btn-xs'
                        });
                    },
                },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/empresa/eliminar/")' + obj.idempresa,
                            contenido: 'Eliminar',
                            class: 'btn btn-danger btn-xs',
                            attr: [
                                'onclick="return confirm(\'¿Esta seguro de eliminar este registro?\')"'
                            ]
                        });
                    },
                }
            ],

            url: '@Url.Content("~/admin/empresa/CargarEmpresa")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'id',
            columna_orden: 'DESC'
        });
    })
</script>
