
@{
    ViewBag.Title = "ServiceHelpDesk";
}

<ol class="breadcrumb">
    <li><a href="~/admin/default">Mantenimiento</a></li>
    <li class="active"> Service HelpDesk </li>
</ol>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://soportenetcorporate.ddns.net/msnet/" allowfullscreen></iframe>
</div>
