@{
    Layout = null;
    string my_controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();

    Model.Usuario usuario = new Model.Usuario().ObtenerPerfil(Helper.SessionHelper.GetUser());
}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title  | Nsuite</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Areas/Admin/Assets/css/admin-style.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/bootstrap.theme.min.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Assets/js/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/AdminLTE.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Assets/css/uikit.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Assets/css/site.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/Mgrid.css" rel="stylesheet" />

    <link href="~/Areas/Admin/Assets/css/formulario.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Assets/js/jquery.js"></script>
</head>
<body>



   @if (my_controlador != "inicio")
   {
    <nav class="navbar navbar-default">
        <div class="container">
 

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/renting/index">
                    NETCORPORATE
                </a>
            </div>
            <div class="collapse navbar-collapse" id="menu">

                <ul class="nav navbar-nav">

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Orden <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="~/renting/generarorden">Nueva Orden</a>
                            </li>

                            <li>
                                <a href="~/renting/index">Listar Orden</a>
                            </li>
                        </ul>



                    </li>

                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img id="user-pic" src="~/Areas/Admin/img/@usuario.foto" />
                            <b>Hola</b>, @usuario.nombre <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="~/Admin/Default/index">Modo Admin</a>
                            </li>
                            <li>
                                <a href="~/login/logout">Finalizar Sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
        </div>
        </nav>

   }

    

<div class="container">
    <div class="row">

       
        <div class="col-xs-12">

            @RenderBody()
        </div>
    </div>

</div>

<script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>
<script src="~/Areas/Admin/Assets/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
<script src="~/Areas/Admin/Assets/js/jquery.form.js"></script>

<script src="~/Areas/Admin/Assets/js/ini.js"></script>

<script src="~/Areas/Admin/Assets/js/jquery.anexgrid.min.js"></script>
<script src="~/Areas/Admin/Assets/js/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/Assets/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>